/* ==========================================================================
custom constants
========================================================================== */

$dark-shadow: 2px 2px 2px #000;
$light-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
$corner-roundness: 10px;
$title-font: "nobelregular";
$title-font-bold: "nobelbold";
$title-font-color: #4A4A4A;
$body-font: "Source Sans Pro", sans-serif;
$light-border-color: #D4D4D4;
$header-height: 5em;
$page-gutter: 3.5em;
$large-input-padding: 1rem 2rem;
$dashed: 1px dashed #4A4A4A;
$small-font-size: 0.6rem;
$primary-color: red;
$secondary-color: blue;
$alert-color: red;