RewriteEngine On

#uncomment the below
#---------------------------
## Ensure we are using HTTPS
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# may need to put this at bottom of file?
# if the file/directory with the specified name in the browser doesn't exist, 
# and the requested filename is not a symbolic link, procede to the RewriteRule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
# redirect to index.php, append the query string (QSA),  
RewriteRule ^ index.php [QSA,L]


