
/* ==========================================================================
variables
========================================================================== */

$hero-small: 500px;
$hero-medium: 1000px;
$hero-large: 1300px;
$hero-xlarge: 1500px;

/* ==========================================================================
mixins
========================================================================== */
//usage: @include h-align-absolute(90px);

//horizontal align absolute positioned items
@mixin h-align-absolute($width) {
  position: absolute;
  width: $width;
  left:50%;
  margin-left: #{-($width/2)};
}

//vertical align absolute positioned items
@mixin v-align-absolute($height) {
  position: absolute;
  top:50%;
  margin-top: #{-($height/2)};
}

// card grid breakpoints
// use:   
// @include MQ(M) {
//    display: none;
//  }
$S:     820px; 
$M:     1460px;     
$L:     1865px;

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

//using foundation breakpoints
// @include breakpoint(large down) {
//  ...
// }

//modal
@mixin modal-inner($max-width, $pading-vertical, $padding-horizontal) {
  background: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  //padding: 2.5em 4em;
  // padding: $pading-vertical $padding-horizontal;
  flex-basis: $max-width;
  margin: auto;
  width: 100%;
  @media (max-width: $max-width) {
    // padding: 1em 0.7em;
    flex-basis: 100%;
  }
}

//foundation flex-video override
.responsive-embed, .flex-video {
    padding-bottom: 56.3%;
    margin-bottom: 0;
}


/* ==========================================================================
extends
========================================================================== */
//usage: @extend %shadow-box
%shadow-box {
    border-radius: $corner-roundness;
    box-shadow: $dark-shadow;
}

/*horizontal/vertical align*/
%align-parent {
    transform-style: preserve-3d;
}
%h-align-child {
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
%v-align-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

//flexbox vertical align
%fb-v-align {
  display: flex;
  align-items: center;
}

%kill-outline {
    outline: none;
    border: none;
    text-decoration: none;
    box-shadow: none;
}

%button-base {
  color: $white;
  @extend %kill-outline;
  text-transform: uppercase;
  font-weight: 900;
  font-family: $title-font;
}

%bold-base {
  font-family: $body-font;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.02em;
  color: $title-font-color;
}

%body-font-base {
  font-family: $body-font;
  text-transform: none;
  font-weight: 300;
  color: $title-font-color;
}

%copy-button-style {
  //@include button($expand, $background, $background-hover, $color, $style);
  @include button(false, $primary-color, $primary-color, $white, solid);
  @extend %button-base;
}

%border-light {
  border: 1px solid $light-border-color;
}

%boxed-card {
  @extend %border-light;
  background: $white;
}

%button-sml {
  font-size: $small-font-size;
  background: transparent;
  color: $title-font-color;
  @extend %kill-outline;
  text-transform: uppercase;
  font-weight: 900;
  font-family: $body-font;
}

%button-wide-padding {
  padding: 1rem 4.3rem;
}

%input-lg {
  padding: $large-input-padding;
  font-size: 1.3em;
  height: auto;
}

%medium-title {
  font-family: $body-font;
  font-size: 1.3em;
  font-weight: 900;
}

%long-margin-title {
  margin-bottom: 2.5em;
}

%side-panel {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  background: #fff;
  box-shadow: $light-shadow;
}

%close-button {
  background-image: url(../img/icons/search-close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-width: 20px;
  background-height: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

%stroke {
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  width: 110%;
  left: -5%;
  background-size: cover;
}

%circle-icon {
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* ==========================================================================
global-styles
========================================================================== */

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
   //prevent scroll on iphone
   height: 100%;
   width: 100%;
   // @include font-smoothing;
}

p { 
  font-size:1.1em;
  margin-bottom: 3em;
  line-height: 2.1em;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    // color: #535353 !important;
}

h1 {
  font-family: $title-font;
  font-size: 2.2em;
}

h2 {
  font-family: $title-font;
  font-size: 1.5em;
}

h3, h4, h5 {
  font-family: $title-font;
  font-size: 2em;
  font-weight: 600;
}

label {
  text-transform: uppercase;
  padding: 0 0 1.25rem;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], 
[type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], 
[type='url'], [type='color'], textarea {
  margin-bottom: 0;
}

.input-group-button a, .input-group-button input, .input-group-button button, .input-group-button label
{
  font-size: 1.3rem;
  padding: 1rem 2rem;
  height: auto;
}

.button {
  @extend %button-base;
  font-size: 1.3rem;
  &.secondary {
    color: #BBBBBB;
  }
}

.menu {
  text-transform: uppercase;
  font-family: $title-font;
}

.error_message, .errors li {
  color: $alert-color;
  font-weight: 300;
  text-transform: none;
  list-style-type: none;
}
.errors {
  margin: 0;
}

input.submit-button, button.submit-button {
  @extend %button-wide-padding;
  float: left;
  margin-top: 3em;
}

@media print {
    .no-print { display: none; }
}

/** hide scrollbars **/

::-webkit-scrollbar { 
    display: none;
}

/* ==========================================================================
helper classes
========================================================================== */

/*horizontally align*/

.align-parent {
    transform-style: preserve-3d;
}

/*horizontal align*/

.h-align-child {
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

/*vertical align*/

.v-align-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bold-base {
  @extend %bold-base;
}

.clear {
  clear: both;
  width: 100%;
}

/* ==========================================================================
//accessibility
========================================================================== */

/* default styling before what input executes, and mouse activated focus */
*:focus, [data-whatinput="mouse"] :focus {
  //outline: 0px;
  outline-style: hidden;
  outline: none;
}

/* ==========================================================================
for scroll trigger
========================================================================== */ 

.invisible {
    visibility: hidden;
}

.invisible {
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 0.0;
}

.visible {
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1.0;
}


/* ==========================================================================
parts
========================================================================== */

.button-microsite {
  @extend %button-base;
  font-size: 0.9em;
  padding: 1em 3em;
  border-radius: 2em;
  letter-spacing: 0.01em;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover {
    color: $pink;
    background: #fff !important;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.10);
  }
  &.transparent {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
  }
  &.solid {
    background: $pink;
    border: 0 none;
    &:hover {
      color: #fff;
      background: $pink !important;
      box-shadow: 0 10px 15px 0 rgba(0,0,0,0.10);
    }
  }
}

.circle-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17.5em;
  .circle-wrapper {
    height: 17.5em;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: 2;
      background-image: url(../img/microsite/dot-pattern.png);
      padding: 4em;
    }
  }

  .circle {
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 11em;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    .icon {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &.pink {
      box-shadow: 0 0 0 20px rgba(236,46,98, 0.25), 0 0 0 40px rgba(236,46,98, 0.25), 0 0 0 60px rgba(236,46,98, 0.25); 
      background-color: $pink;
    }
    &.yellow {
      box-shadow: 0 0 0 20px rgba(250,166,39, 0.25), 0 0 0 40px rgba(250,166,39, 0.25), 0 0 0 60px rgba(250,166,39, 0.25); 
      background-color: $orange;
    }
    &.green {
      box-shadow: 0 0 0 20px rgba(128,195,66, 0.25), 0 0 0 40px rgba(128,195,66, 0.25), 0 0 0 60px rgba(128,195,66, 0.25); 
      background-color: $green;
    }
    &.navy {
      box-shadow: 0 0 0 20px rgba(17,60,100, 0.25), 0 0 0 40px rgba(17,60,100, 0.25), 0 0 0 60px rgba(17,60,100, 0.25); 
      background-color: $navy;
    }
    &.teal {
      box-shadow: 0 0 0 20px rgba(40,165,177, 0.25), 0 0 0 40px rgba(40,165,177, 0.25), 0 0 0 60px rgba(40,165,177, 0.25); 
      background-color: $turquoise;
    }
    &.purple {
      box-shadow: 0 0 0 20px rgba(47,41,84, 0.25), 0 0 0 40px rgba(47,41,84, 0.25), 0 0 0 60px rgba(47,41,84, 0.25); 
      background-color: $purple;
    }
  }
  .circle-title {
    display: flex;
    justify-content: center;
    margin-top: 0.1em;
  }
  .icon-biking {
    background-image: url(../img/icons/route-biking.svg);
    width: 40px;
    height: 40px;
  }
  .icon-hiking {
    background-image: url(../img/icons/route-hiking.svg);
    width: 40px;
    height: 40px;
  }
  .icon-hospitality {
    background-image: url(../img/icons/route-hospitality.svg);
    width: 40px;
    height: 40px;
  }
  .icon-device {
    background-image: url(../img/microsite/icon-device.svg);
    width: 40px;
    height: 40px;
  }
  .icon-computer {
    background-image: url(../img/microsite/icon-computer.svg);
    width: 40px;
    height: 40px;
  }
  .icon-marker {
    background-image: url(../img/microsite/icon-marker.svg);
    width: 28px;
    height: 40px;
  }
}

.close-btn {
  background: url(../img/icons/profile-close.svg) no-repeat;
  width: 24px;
  height: 24px;
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.logo {
  background: url(../img/icons/aito-logo-colour.svg) no-repeat;
  width: 91px;
  height: 91px;
}

.logo-wide {
  background: url(../img/icons/venture-logo.svg) no-repeat;
  width: 150px;
  height: 33px;
}

/* ==========================================================================
page layout
========================================================================== */

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
  background: $white;
  .page-content-inner {
    padding: 0 1.5em;
  }
}

.columns.medium-media-padding {
  @include breakpoint(medium down) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ==========================================================================
french
========================================================================== */

.fr {
  .page-bg-wrapper .hero-wrapper .hero-bg {
    height: 900px;

    @media (min-width: 500px) {
      height: 919px;
    }
    @media (min-width: 650px) {
      height: 822px;
    }
    @media (min-width: 769px) {
      height: 1000px;
    }
    @media (min-width: 1000px) {
      height: 977px;
      background-image: url(../img/microsite/hero-image-med.jpg);
    }
  }
  #hero .left h1 {
    @media (min-width: $hero-small) {
      font-size: 4.5em;
    }
  }
} 

/* ==========================================================================
backgrounds
========================================================================== */

.page-bg-wrapper {
  position: absolute;
  overflow: hidden;
  .hero-wrapper {
    position: relative;
    //so the hero stroke will won't show the behind bg sliver
    padding-bottom: 0.5em;
    .hero-bg {
      //needs to be relative because of the stroke
      position: relative;
      background-image: url(../img/microsite/hero-image-sml.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 700px;
      @media (min-width: $hero-small) {
        height: 700px;
      }
      @media (min-width: $hero-medium) {
        height: 800px;
        background-image: url(../img/microsite/hero-image-med.jpg);
      }
      @media (min-width: $hero-large) {
        height: 900px;
        background-image: url(../img/microsite/hero-image.jpg);
      }
      @media (min-width: $hero-xlarge) {
        height: 900px;
      }
    }
    .hero-stroke {
      position: absolute;
      z-index: 1;
      bottom: 0;
      background-image: url(../img/microsite/hero-stroke.svg);
      @extend %stroke;
      height: 480px;
    }
  }
}

.content-wrapper {
  position: absolute;
  width: 100%;
  z-index: 3;
  overflow: hidden;
}


/* ==========================================================================
hero
========================================================================== */

#hero {
  width: 100%;
  .hero-row {
    .columns {
      padding: 0 0.5rem;
    }
  }
  .logo-main {
    margin: 1em 0;
    width: 4em;
    @media (min-width: $hero-small) {
      
    }
    @media (min-width: $hero-medium) {
      width: 5em;
      margin: 2em;
    }

  }
  .icon-lang {
    float: right;
    margin: 1em 0;
    width: 2em;
    @media (min-width: $hero-small) {
      
    }
    @media (min-width: $hero-medium) {
      width: 45px;
      height: 45px;
      margin: 2em 0;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // font-size: 0.45em;
    h1, h2 {
      color: #fff;
      text-shadow: 0 10px 15px rgba(0,0,0,0.10);
    }
    h1 {
      font-weight: 400;
      font-family: $title-font;
      font-size: 4em;
      text-transform: uppercase;
      line-height: 0.9em;
      margin-top: 0.5em;
      .bold {
        font-weight: 600;
      }
      @media (min-width: $hero-small) {
        margin-top: 0;
        font-size: 4em;
      }
      @media (min-width: $hero-medium) {
        font-size: 5em;
      }
      @media (min-width: $hero-large) {
        font-size: 7em;
      }
      @media (min-width: $hero-xlarge) {
        font-size: 7em;
      }
    }
    h2 {
      font-size: 2em;
      font-family: $title-font;
      font-style: italic;
      max-width: 250px;
      @media (min-width: $hero-small) {
        font-size: 3em;
        max-width: none;
      }
    }
    .button-microsite {
      float: right;
      margin-top: 1em;
    }
    @include breakpoint(large up) {
     text-align: right;
     align-items: flex-end;
    }
  }
  .device-bg {
    background-image: url(../img/microsite/device-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .device {
        width: 100%;
        max-width: 400px;
        //accomodate for shadow in img
        transform: translateX(2.5%);
    }
    .button-microsite {
      margin-bottom: 4em;
    }

    @include breakpoint(large up) {
     padding-top: 5em;
    }

    @media (min-width: $hero-xlarge) {
      // transform: translateX(-6em);
    }
  }
  @media (min-width: $hero-small) {
    padding: 0 2em;
  }
}

.hero-info {
  margin-top: 8em;
  margin-bottom: 1.5em;
  font-size: 1.7em;
  font-weight: 500;
  color: $pink;
  font-family: $title-font;
  line-height: 1.3em;
  max-width: 23em;
  text-align: left;
  padding-left: 1.3rem;
  @media (min-width: $hero-small) {
    margin-top: 5em;
  }
  @media (min-width: $hero-medium) {
    margin-top: 7em;
    font-size: 2.5em;
  }
}

#intro {
  margin-bottom: 2em;
  & > .row {
    // max-width: 86rem;
  }
}

/* ==========================================================================
beautiful peices
========================================================================== */

#beautiful-peices {
  overflow: hidden;
  position: relative;
  .circle-button.marker {
    position: absolute;
    z-index: 3;
    right: 1.875rem;
    top: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  }
  .beautiful-peices-bg {
    background-image: url(../img/microsite/bg-middle-sml.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    //below to accomodate sliver bg show through stroke
    height: 99%;
    margin-top: 5px;
    @media (min-width: $hero-small) {
      background-image: url(../img/microsite/bg-middle-med.jpg);
    }
    @media (min-width: $hero-medium) {
      background-image: url(../img/microsite/bg-middle.jpg);
    }
  }
  .stroke-top {
    background-image: url(../img/microsite/bg-middle-stroke-top.svg);
    height: 9vw;
    @extend %stroke;
    top: 0;
  }
  .stroke-bottom {
    background-image: url(../img/microsite/bg-middle-stroke-bottom.svg);
    height: 9vw;
    @extend %stroke;
    bottom: 0;
  }
  .beautiful-peices-row {
    position: relative;
  }
  .main-row {
    padding: 9vw 0;
    max-width: 75rem;
  }
  .device-middle img {
    display: none;
    @media (min-width: $hero-small) {
      display: block;
    }
  }
  .left {
    display: flex;
    justify-content: center;
  }
  .right {
    padding-top: 7em;
    color: #fff;
    h3, p {
      color: #fff;
    }
    h3 {
      font-size: 2em;
      @include breakpoint(large up) {
        font-size: 2.5em;
      }
    }
    p, .types-count {
      font-family: $secondary-title-font;
      font-size: 1.1em;
      line-height: 2.2;
    }
    p {
      margin-bottom: 2em;
      line-height: 1.8em;
    }
    .large {
      font-size: 2em;
      font-weight: 600;
      margin: 0 0.2em;
    }
    .types-count-row {
      & > .columns {
        @media (max-width: 500px) { 
          flex: 0 0 100%;
          max-width: 260px;
          margin: 0 auto;
        }
      }
      .types-count {
        display: flex;
        align-items: center;
        margin-bottom: 1.2em;
        @media (min-width: $hero-small) { 
          margin-bottom: 1.8em;
        }
        .circle-button .icon {
          width: 50px;
          height: 50px;
          @media (min-width: $hero-small) { 
            width: 70px;
            height: 70px;
          }
        }
      }
    }
    @media (min-width: $hero-medium) { 
      font-size: 1em;
    }
  }
}


/* ==========================================================================
explore
========================================================================== */

#explore {
  padding-top: 7em;
  background-image: url(../img/microsite/map-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  .center-info {
    text-align: center;
    max-width: 50em;;
    margin: 0 auto 2em;
    font-family: $title-font;
    p {
      font-size: 1.3em;
      margin-bottom: 0;
      line-height: 1.5em;
    }
  }
  .route-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5em;
    .circle-group {
      margin: 0 3em 3em;
      .circle-title {
        font-weight: 500;
        font-size: 1.8em;
        font-family: $title-font;
      }
    }
  }
  .explore-button {
        padding: 3.25em 0 6.25em;
    .columns {
      display: flex;
    }
  }
}




/* ==========================================================================
french
========================================================================== */

.fr {

}

/* ==========================================================================
dropdown
========================================================================== */

.dropdown-toggle {
  &.open {
    .dropdown-body {
      // animation: dropdown .3s ease both;
    }
    .dropdown-button {
      .right img {
        transform: rotate(180deg);
      }
    }
  }
  &.close {
    .dropdown-body {
      // animation: retract .3s ease both;
    }
    .dropdown-button {
      .right img {
        transform: rotate(180deg);
      }
    }
  }
  .dropdown-body {
    overflow: hidden;
    height: 0;
    background: $light-gray;
    border-bottom: 1px solid $border-color;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  &.circleStyle {
    padding: 1em 0.5em;
  }
}

/* ==========================================================================
buttons
========================================================================== */

//circle button

.circle-button {
  border-radius: 50%;
  .icon {
    width: 70px;
    height: 70px;
    background-color: $medium-gray;
    @extend %circle-icon;
  }
}

//menu icons

.icon-arrow {
  width: 13px;
} 

.icon-list-view {
  width: 25px;
  height: 20px;
}
.icon-map-view {
  width: 31px;
  height: 27px;
}

.icon-types {
  width: 25px;
  height: 25px;
}

.icon-near-me {
  width: 39px;
  height: 39px;
}

//types

.mural {
  .icon {
    background-image: url(../img/icons/art-mural.svg);
    background-color: $orange;
    background-size: 26px 26px;
  }
}

.monument {
  .icon {
    background-image: url(../img/icons/art-monument.svg);
    background-size: 26px 26px;
    background-color: $pink;
  }
}

.totem {
  .icon {
    background-image: url(../img/icons/art-totem.svg);
    background-size: 22px 26px;
    background-color: $green;
  }
}

.sculpture {
  .icon {
    background-image: url(../img/icons/art-sculpture.svg);
    background-size: 9px 27px;
    background-color: $turquoise;
  }
}

.statue {
  .icon {
    background-image: url(../img/icons/art-statue.svg);
    background-size: 17px 26px;
    background-color: $navy;
  }
}

.installation {
  .icon {
    background-image: url(../img/icons/art-installation.svg);
    background-size: 26px 26px;
    background-color: $purple;
  }
}

.marker {
  .icon {
    background-image: url(../img/microsite/icon-marker.svg);
    background-size: 28px 40px;
    background-color: $pink;
  }
}

.type-icon {
  width: 60px;
  height: 60px;
  border: 4px solid #fff;
  position: absolute;
  right: 10px;
  top: 170px;
  z-index: 1;
  @extend %circle-icon
}

/* ==========================================================================
social share / social
========================================================================== */

.share-icons-button {
  margin: 0.5em;
  position: absolute;
  right: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../img/icons/share.svg);
  background-size: 17px 17px;
  background-color: $pink;
  @extend %circle-icon;
}

.socials-share-popup {
  padding: 0.5em;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  right: 0;
  border-radius: 25px;
  box-shadow: $light-shadow;
  background: #fff;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.close {
    opacity: 0;
    visibility: hidden;
  }
  .SocialMediaShareButton {
    margin-right: 1em;
  }
  .social-share-close {
    @extend %close-button;
    margin-right: 0.6em;
  }
}


.social {
  width: 35px;
  height: 35px;
  @extend %circle-icon;
  cursor: pointer;
  background-color: $pink;
  background-size: 20px 20px;
  margin: 0 1.5em;
  cursor: pointer;
}
.facebook {
  background-image: url(../img/icons/social-facebook.svg);
}
.twitter {
  background-image: url(../img/icons/social-twitter.svg);
}
.instagram {
  background-image: url(../img/icons/social-instagram.svg);
}

/* ==========================================================================
gallery
========================================================================== */
#gallery {
  .gallery-wrapper {
    display: flex;
    flex-direction: column;
    height: 900px;
    .gal-item {
      flex: 1;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 0.3s ease-in-out;
      position: relative;
      &:before {
          content: '\A';
          position: absolute;
          width: 100%;
          height: 100%;
          top:0; 
          left:0;
          background:rgba(0,0,0,0.6);
          opacity: 1;
          transition: opacity 0.5s;
          -webkit-transition: opacity 0.5s;
          -moz-transition: opacity 0.5s;
      }
      &:hover {
        &:before {
          opacity: 0;
        }
        flex-grow: 2;
        @media (min-width: $hero-small) {
          flex-grow: 3;
        }
      }
      &.img1 {
        background-image: url(../img/microsite/outdoor-art.jpg);
      }
      &.img2 {
        background-image: url(../img/microsite/telsa-monument.jpg);
      }
      &.img3 {
        background-image: url(../img/microsite/graffiti-alley.jpg);
      }
      &.img4 {
        background-image: url(../img/microsite/blades-of-steel.jpg);
      }
      h3, h4 {
        color: $white;
        margin-bottom: 0;
        text-align: center;
        display: block;
      }
      h3 {
        font-weight: 600;
        font-size: 1.5em;
      }
      h4 {
        font-size: 0.8em;
        font-weight: 400;
      }
      .heading-wrapper {
        transform: translateY(0);
      }
      .icon-play {
        background-image: url(../img/microsite/icon-play.png);
        background-size: 80%;
        background-position: center center;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        //hide at first
        opacity: 0;
        display: block;
        position: absolute;
        @include h-align-absolute(200px);
        top: 43%;
        cursor: pointer;
        @media (min-width: $hero-small) {
          flex-direction: row;
          background-size: cover;
        }
      }
    }
    @media (min-width: $hero-medium) {
      flex-direction: row;
      height: 672px;
    }
  }
}

#gallery .gallery-wrapper .gal-item {
  &.activate {
    .icon-play {
      animation: fadeIn 0.3s ease-in-out both;
      animation-delay: 0.3s;
    }
    .heading-wrapper {
      animation: growMarginBottom 0.3s ease-in-out both;
    }
  }
  &.de-activate {
    .icon-play {
      animation: fadeOut 0.3s ease-in-out both;
    }
    .heading-wrapper {
      animation: shrinkMarginBottom 0.3s ease-in-out both;
    }
  }
}

@keyframes growMarginBottom {
 0% { transform: translateY(0); }
 100% { transform: translateY(-80px); }
}

@keyframes shrinkMarginBottom {
  0% { transform: translateY(-80px); }
  100% { transform: translateY(0); }
}

@keyframes fadeIn {
  0% { opacity: 0; visibility: hidden; }
  100% { opacity: 1; visibility: visible; }
}

@keyframes fadeOut {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}


/* ==========================================================================
gallery
========================================================================== */

footer {
  padding: 3.5em 2em;
  .brought-to-you {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0 0 3em 0;
  }
  .footer-logos-wrapper {
    display: flex;
    justify-content: center;
    .footer-logos {
      display: flex;
      margin: 0 auto 2.5em;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      img {
        margin: 0 2em 2em;
      }
    }
  }
  .footer-bottom {
    .columns {
      display: flex;
      flex-direction: column;
      align-items: center;
      .venture-logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
      }
      .footer-info {
        max-width: 32em;
        margin-bottom: 6em;
        text-align: center;
        font-size: $small-font-size;
      }
      .socials {
        display: flex;

      }
    }
  }
}

/* ==========================================================================
modal
========================================================================== */


.modal {
   width: 100vw;
   height: 100vh;
   background: rgba(0,0,0, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 100;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.6s, visibility 0.6s;
   &.on {
     opacity: 1 !important;
     visibility: visible !important;
    }
    .modal-inner {
       @include modal-inner(80em, 2em, 4em);
    }
    .close {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        font-size: 2em;
        line-height: 1;
        color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        &:hover, &:focus {
          color: rgba(255, 255, 255, 1);
        }
    }
}

