/* ==========================================================================
   fonts
   ========================================================================== */

@charset "utf-8";

// @font-face {
//     font-family: 'nobelbold';
//     src: url('../media/fonts/nobel-bold-webfont.woff2') format('woff2'),
//          url('../media/fonts/nobel-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'nobelregular';
//     src: url('../media/fonts/nobel-regular-webfont.woff2') format('woff2'),
//          url('../media/fonts/nobel-regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }


/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


